{% extends "base.html" %}

{% block content %}
        <h1 class="text-warning">Evento 1</h1>

        <p><span class="label">28/06</span></p>

        <div class="span3"><img src="http://lorempixel.com/230/150/sports?2" width="230" height="150" alt="Imagem" class="img-rounded" /></div>
        <div class="span7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</div>

        <!-- -->
        <div class="span3">
          <div class="well">
            <h2 class="text-warning">Palestra</h2>

            <h3>Palestrantes</h3>

            <ul>
              <li>Palestra 1</li>
              <li>Palestra 2</li>
              <li>Palestra 3</li>
            </ul> 


            <hr/>            


            <h3>Participantes</h3>

            <ul>
              <li>Palestra 1</li>
              <li>Palestra 2</li>
              <li>Palestra 3</li>
            </ul> 
          </div>
        </div>
        <!-- -->

      </div>
{% endblock %}
