{% extends "base.html" %}

{% block content %}

    <form class="form-horizontal" action={% url 'workshop:contact' %} method="POST" >
        {% csrf_token %}
        <fieldset>

        <!-- Form Name -->
        <legend>Deixe seu contato</legend>
        {% if sucess %}
          <span>{{ sucess }}</span>
        {% endif %}
        {% if error %}
          <span>{{ error }}</span>
        {% endif %}
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label">Nome</label>
          <div class="controls">
            <input id="name" name="name" type="text" placeholder="" class="input-xlarge" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label">Email</label>
          <div class="controls">
            <input id="email" name="email" type="text" placeholder="" class="input-xlarge">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label">Telefone</label>
          <div class="controls">
            <input id="phone" name="phone" type="text" placeholder="(XX) XXXX-XXX" class="input-xlarge">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label">Texto</label>
          <div class="controls">                     
            <textarea id="text" name="text"></textarea>
          </div>
        </div>
        <div class="control-group">
          <input type="submit" value="Enviar" />
        </div>
        </fieldset>

        </form>

{% endblock %}
