{% extends "base.html" %}
{% load static %}
{% block content %}
        <h1 class="text-warning">{{evento.titulo}}</h1>

        <p><span class="label">{{evento.data}}</span></p>

        <div class="span3"><img src="{% static evento.imagem.url %}" width="230" height="150" alt="Imagem" class="img-rounded" /></div>
        <div class="span7">{{evento.descricao}}</div>


        {% for i in evento.palestra_set.all %}
        <div class="span3">
          <div class="well">
            <h2 class="text-warning">{{i.nome_palestra}}</h2>

            <h3>Palestrantes</h3>

            <ul>
              {% for p in i.palestrante_set.all %}
              <li>{{p.nome_palestrante}}</li>
              {% endfor %}
            </ul> 


            <hr/>            


            <h3>Participantes</h3>

            <ul>
              {% for p in i.participante_set.all %}
              <li>{{p.nome_participante}}</li>
              {% endfor %}
            </ul> 
          </div>
        </div>
        {% endfor %}

      </div>
{% endblock %}
